#nav{
   
background-color: #F472B6;

}
#logo{
 margin-left: 15px;
}
#logo-name{

}


#searchbox{
    margin-left:  100px;
    width: 30%;
display: flex;
    justify-content: center;
}
#nav2{
   
  
   justify-content: center;
   display: flex;

}









#nav4img{
  
    margin-left: 40px;
    max-width: 50px;
    
 
 }

.navbar-nav{
    display: flex;
    padding-bottom: 0px;


}

#nav2-text{
    display: block;

  margin-left: 50px;
    
}